<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>

            <!-- Exclude directory and file -->

            <exclude>
                <directory>./Exception</directory>
                <directory>./Command</directory>
                <directory>./Entity</directory>
                <directory>./vendor</directory>
                <directory>./Query</directory>
                <directory>./Tests</directory>
                <directory>./Repository</directory>
                <file>./DependencyInjection/CommandBusSymfonyExtension.php</file>
                <file>./DependencyInjection/Configuration.php</file>
                <file>./CommandBusSymfonyBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>